  <!-- Modal -->
  <div id="experience_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">A Homestay Experience</h3>
    </div>
    <div class="modal-body">
      <%= image_tag "homestay_logo.png", :class => "modal-logo" %>
      <p>Stay with a local host family when you travel. Experience the real culture and people of the community you're visiting.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <!-- Modal -->
  <div id="become_host_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Become a Host!</h3>
    </div>
    <div class="modal-body">
      <%= image_tag "homestay_logo.png", :class => "modal-logo" %>
      <p>LIST NOW AND JOIN OUR GLOBAL COMMUNITY OF HOST FAMILIES</p>
      <p class="modal-bold">What is Homestay.com?</p>
      <p>It's a global travel website for booking homestay accommodation.</p>
      <p class="modal-bold">Why become a host family?</p>
      <p>Accommodate tourists in your home, make money, share experiences and meet people from around the world.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>  