  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "Homestay", root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="active"><a href="#become_host_modal" id="draw-modal" data-toggle="modal">Become a Host</a></li>
        <li class="divider"></li>
        <li><a href="https://secure.homestaymanager.com/host/sign_in">Host log in</a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="divider show-for-small"></li>
        <li class="has-form">
          <a class="button" href="#experience_modal" id="draw-modal" data-toggle="modal">A Homestay experience?</a>
        </li>
      </ul>
    </section>    
  </nav> 